<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Results Page</h2>
	<p>You searched: <%= userquery %> </p>
	<ul>
		<li>Latitude: <%= latitude %></li>
		<li>Longitude: <%=longitude %></li>
	</ul>

</body>
</html>